client_secret_*.json
.DS_Store
mobile-app/android-app-client-id
mobile-app/client_811082099836-0evakgpsgmk9bgnaeannl738q28pbqil.apps.googleusercontent.com.plist
mobile-app/ios-app-client-id
mobile-app/web-app-client-id
extensions/chrome/chrome-extension-client-id
